{% load static %}
{% load account socialaccount %}
<!DOCTYPE html>
<head>
  <link href="{% static 'css/login.css' %}?ab" rel="stylesheet" />
</head>
<body>
  <section class="login-form">
    <div class="box">
    <h1><a href="{% url 'main:mainpage' %}">likelion</a></h1>
    <div class = "caption">
      회원이 아니신가요? <a href = "{% url 'account_signup' %}">회원가입</a>
    </div>
    <form method="POST" action="{% url 'account_login' %}">
      {% csrf_token %} 
      <div class="int-area">
        <input type="text" name="login" autocomplete="username" required="" id="id_login">
        <label for="id_login">아이디</label>
      </div>  
      <div class="int-area">
        <input type="password" name="password" autocomplete="current-password" required="" id="id_password">
        <label for="id_password">비밀번호</label>
      </div>  
      <div class="btn-area">
        <input  type="submit" value="로그인">
      </div>
    </form>
    <div class="btn-area">
      <ul class="socialaccount_providers" style="text-align: center;">
      다른 계정으로 로그인&nbsp
      <button>
      {% include "socialaccount/snippets/provider_list.html" with process="login" %}
      </button>
      </ul>
      </div>
  </div>

    </div>
  </section>
</body>