{% extends 'base.html' %}
{% load static %}
{% block content %}
    <head>
      <link rel="stylesheet" href="{% static 'css/detail.css' %}?">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"/>
    </head>
    <body>
    {% include 'shared/_navbar.html' %}
    <h1>{{post.title}}</h1>  
    <div style="align-items: center;">
    <hr>
    </div>
    <table>
        <thead>
        <tr>
          <th scope="cols">항목</th>
          <th scope="cols">내용</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <th scope="row">작성자</th>
          {% if post.writer %}
          {% if 'user' in post.writer.username %}
          <td>{{post.writer.last_name}} {{post.writer.first_name}}</td>
          {% else %}
          <td>{{post.writer}}</td>
          {% endif %}
          {% else %}
          <td>알 수 없음</td>
          {% endif %}
        </tr>
        <tr>
          <th scope="row">날짜</th>
          <td>{{post.pub_date}}</td>
        </tr>
        <tr>
          <th scope="row">내용</th>
          <td>
            {% if post.image %}
            <p><img src="{{post.image.url}}" alt="사진"></p>
            {% endif %}
            <p>{{post.body}}</p>
          </td>
        </tr>
        <tr>
          <th>
            좋아요/싫어요  
          </th>
          <td>
            <div style="display: inline-block;">
            <span href="#" class="like" name ="{{post.id}}" value="Like"> 

              <!-- 만약 유저가 좋아요를 눌렀다면 채운 하트로 변경-->
              {% if user in post.like_user_set.all %}
                  <div class="alt-service-icon">
                      <i class="fas fa-thumbs-up" id ="like-icon" style="color:red;"></i>
                   </div> 
              <!-- 아니면 비워진 하트-->         
              {% else %}
          
                  <div class="alt-service-icon">
                       <i class="far fa-thumbs-up" id ="like-icon" style="color:red;"></i> 
                  </div>
          
               {% endif %}
          
               <span id="count1-{{ post.id }}" class="alt-services-title font-alt"> 
                  좋아요 
                  {% if post.like_count == 0 %} 
                    0개 
                  {% else %}
                      {{ post.like_count }}개
                  {% endif %}
               </span>
          </span>
          </div>
          &nbsp
          <div style="display: inline-block;">
          <span href="#" class="dislike" name ="{{post.id}}" value="dislike"> 

            <!-- 만약 유저가 싫어요를 눌렀다면 채운 하트로 변경-->
            {% if user in post.dislike_user_set.all %}
                <div class="alt-service-icon">
                  <i class="fas fa-thumbs-down" id ="dislike-icon" style="color:blue;"></i>
                 </div> 
            <!-- 아니면 비워진 하트-->         
            {% else %}
        
                <div class="alt-service-icon">
                     <i class="far fa-thumbs-down" id ="dislike-icon" style="color:blue;"></i> 
                </div>
        
             {% endif %}
        
             <span id="count2-{{ post.id }}" class="alt-services-title font-alt"> 
                싫어요 
                {% if post.dislike_count == 0 %} 
                  0개 
                {% else %}
                    {{ post.dislike_count }}개
                {% endif %}
             </span>
        </span>
        </div>
          </td>
        </tr>
        {% if user == post.writer %}
        <tr>
          <td class = "update" colspan="2" style="text-align: center;">
            <input type="button" value="수정하기" onclick="location.href='{% url 'main:edit' post.id %}'">
            <input type="button" value="삭제하기" onclick="location.href='{% url 'main:delete' post.id %}'">
          </td>
        </tr>
        {% endif %}
        </tbody>
      </table>
      <h1>댓글작성</h1>
      <div style="text-align: center;">
        <form action="{% url 'main:create_comment' post.id %}" method="POST">
          {%csrf_token%}
          <textarea name="content" placeholder="댓글 내용 입력" rows="3" cols="60"></textarea>
          <button type="submit" value="확인">댓글</button>
        </form>
      </div>
      <h1>댓글작성 목록</h1>
      <div style="text-align: center;">
        {% for comment in comments %}
        <div>
          {% if comment.writer %}
          {% if 'user' in comment.writer.username %}
          작성자 : {{ comment.writer.last_name }} {{ comment.writer.first_name }}
          {% else %}
          작성자 : {{ comment.writer }}
          {% endif %}
          {% else %}
          작성자 : 알 수 없음
          {% endif %}<br>
          {{comment.content}}<br>
          {% if user == comment.writer %}
          <button><a href="{% url 'main:update_comment' comment.id %}">댓글 수정</a></button>
			    <button><a href="{% url 'main:delete_comment' comment.id %}">댓글 삭제</a></button>
          {% endif %}
          <hr>
        </div>
        {% endfor %}
      </div>
    </body>
    <!-- 5. ajax 적용하기 -->
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script>
    $(".like").click(function(){
        var pk = $(this).attr('name')
        $.ajax({
            type:"POST",
            url:"{% url 'main:like_toggle' post.pk %}",
            data : {'pk':pk, 'csrfmiddlewaretoken':'{{csrf_token}}'},
            dataType:"json",
            success:function(response){
                if (response.like_count==null){
                    alert("로그인이 필요합니다.");
                    window.location.replace("/account/login/");
                }
                else{
                    if (response.result == "like") {
                        $('#like-icon').removeClass();
                        $('#like-icon').addClass('fas fa-thumbs-up');
                    }
                    else{
                        $('#like-icon').removeClass()
                        $('#like-icon').addClass('far fa-thumbs-up');
                    }
                    $('#count1-{{post.id}}').html('좋아요'+response.like_count+'개');
                }
            },
            error:function(request,status,error){
                alert("로그인이 필요합니다.")
                alert("code:"+response.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
            },
        })
    })
    $(".dislike").click(function(){
        var pk = $(this).attr('name')
        $.ajax({
            type:"POST",
            url:"{% url 'main:dislike_toggle' post.pk %}",
            data : {'pk':pk, 'csrfmiddlewaretoken':'{{csrf_token}}'},
            dataType:"json",
            success:function(response){
                if (response.dislike_count==null){
                    alert("로그인이 필요합니다.");
                    window.location.replace("/account/login/");
                }
                else{
                    if (response.result == "dislike") {
                        $('#dislike-icon').removeClass();
                        $('#dislike-icon').addClass('fas fa-thumbs-down');
                    }
                    else{
                        $('#dislike-icon').removeClass()
                        $('#dislike-icon').addClass('far fa-thumbs-down');
                    }
                    $('#count2-{{post.id}}').html('싫어요'+response.dislike_count+'개');
                }
            },
            error:function(request,status,error){
                alert("로그인이 필요합니다.")
                alert("code:"+response.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
            },
        })
    })
</script>

{% endblock %}