<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">동국대 멋쟁이사자처럼</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'main:mainpage' %}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'main:introduction' %}">자기소개홈페이지</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'main:show' %}">만들고 싶은 서비스</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'main:post' %}">방문자 글쓰기</a>
          </li>
          {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'account_logout' %}">로그아웃</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'users:mypage' %}">마이페이지</a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'account_login' %}">로그인</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'account_signup' %}">회원가입</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>